@{
    //Layout = "Empty";
}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="/Common/Content/Styles/site.css">
    </head>
    <body>        
        <h1>Login</h1>
        
        <div id="content">
            <p>
                Autentication is required to view: <b>@Request.QueryString["redirect"]</b>
            </p>
            
            @if (Request.QueryString["error"] != null)
            {
                <p style="color:red;">
                    @Request.QueryString["error"]
                </p>
            }

            <form action='/auth/credentials' method='POST'>
                <input type='hidden' name='Continue' value='@Request.QueryString["redirect"]' />
                <dl>
                    <dt>User Name:</dt>
                    <dd><input type='text' name='UserName' /></dd>
                    <dt>Password:</dt>
                    <dd><input type='password' name='Password' /></dd>
                </dl>             
                <input type='submit' value='Sign In' />
            </form>

        </div>
        
    </body>
</html>